<div class="inner">
    <p>This widget allows you to explore selected statistics from the Young Lives Study. It is driven by linked data from <a target="_blank" href="http://data.younglives.org.uk/pages/about">data.younglives.org.uk</a>.</p>
    <h3>Dimensions</h3>
    <ul class="dimensions">
        <% $.each(dsd_components.getDimensions(), function(k, dim){ %>
            <li>
                <h4><%= dim.label %></h4>
                <% if (dim.comment) { %><p><%= dim.comment %></p><% } %>
            </li>
        <% }) %>
    </ul>
    <h3>Measures</h3>
    <ul class="measures">
        <% $.each(dsd_components.getMeasures(), function(k, mea){ %>
            <li>
                <h4><%= mea.label %></h4>
                <% if (mea.comment) { %><p><%= mea.comment %></p><% } %>
            </li>
        <% }) %>
    </ul>
</div>