<h2>Info</h2>
<div id="info" class="pane">
	<p>This widget allows you to explore selected statistics from the Young Lives Study. It is driven by linked data from <a target="_blank" href="http://data.younglives.org.uk/pages/about">data.younglives.org.uk</a>.</p>
</div>